* {
    color:#fff;
}
body {
    background-color:rgb(45, 45, 45);
}

pre {
    border-radius:8px;
    padding:10px;
    margin:10px;
    font-size: 10px;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%);
}

header p {
    text-align: center;
}
section {
    display: flex;
    flex-wrap:wrap;
}

.page-title {
    text-align: center;
}


.card {
    display: inline-flex;
    flex-direction:column;
    border-radius: 8px;
}

.card-header {
   font-style: bolder;
   border: 2px solid white;
   width: 50%;
   align-self: center;
   text-align:center;
   position:relative;
   top: -10px;
    background-color: rgb(45, 45, 45);
    color: rgba(232, 102, 236, 0.6);
}

.code-block {
    color:white;
}

.card-column {
    display:flex;
    transition: all 0.5s ease-in-out;
    border: dashed 1px;
    width:30%;
    margin:15px;
}

footer {
    text-align: center;
}